@model GraphDrawingModel

<form action="@Url.Action("Store", "GraphDrawing")" method="post">
    <div class="container w-full h-192 flex flex-row">
        <div class="@(Model.IsEditing ? "w-1/2" : "w-full")">
            @Html.Partial("_GraphCanvas", Model.CreateGraphCanvasModel)
        </div>

        @if (Model.IsEditing)
        {
            <div class="w-1/2">
                @Html.Partial("_GraphCanvas", Model.EditGraphCanvasModel)
            </div>
        }
    </div>
</form>