@model GraphLibraryModel

@{
    int itemsPerRow = 3;
    int numberOfRows = (int)Math.Ceiling((decimal)Model.Graphs.Count / (decimal)itemsPerRow);
}

<div class="container">
    @for(int i = 0; i < numberOfRows; i++)
    {
        <div class="library-row w-full flex flex-row">
            @for(int j = 0; j < itemsPerRow; j++)
            {
                if (i * itemsPerRow + j < Model.Graphs.Count)
                {
                    <div class="library-item w-1/3 h-192">
                        @{
                            var model = new GraphCanvasModel(
                                Model.Graphs[i * itemsPerRow + j],
                                showEditButton: true
                            );
                        }
                        @Html.Partial("_GraphCanvas", model)
                    </div>
                }
            }
        </div>
    }

    <!-- Pagination -->
    @Html.Partial("_Pagination", Model.PaginationInfo)
</div>