@model RandomUnicyclicBipartiteGraphModel

<div class="container w-full grid grid-cols-1 gap-y-4">
    <div class="col-span-full">
        <label asp-for="FirstPartitionSize" class="form-label"></label>
        <div class="mt-2">
            <input type="number" asp-for="FirstPartitionSize" step="1" min="1" class="form-input-field">
        </div>
        <span asp-validation-for="FirstPartitionSize" class="text-danger"></span>
    </div>
    <div class="col-span-full">
        <label asp-for="SecondPartitionSize" class="form-label"></label>
        <div class="mt-2">
            <input type="number" asp-for="SecondPartitionSize" step="1" min="1" class="form-input-field">
        </div>
        <span asp-validation-for="SecondPartitionSize" class="text-danger"></span>
    </div>
    <div class="col-span-full">
        <label asp-for="CycleLength" class="form-label"></label>
        <div class="mt-2">
            <input type="number" asp-for="CycleLength" step="1" min="1" class="form-input-field">
        </div>
        <span asp-validation-for="CycleLength" class="text-danger"></span>
    </div>
</div>