@model RandomConnectedGraphModel

<div class="container w-full grid grid-cols-1 gap-y-4">
    <div class="col-span-full">
        <label asp-for="Nodes" class="block text-sm font-medium leading-6 text-gray-900"></label>
        <div class="mt-2">
            <input asp-for="Nodes" type="number" name="@(Model.PropertyNamePrefix + ".")Nodes" step="1" class="block w-full max-w-xs rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
        </div>
        <span asp-validation-for="Nodes" class="text-danger"></span>
    </div>
    <div class="col-span-full">
        <label asp-for="MinEdgesFactor" class="block text-sm font-medium leading-6 text-gray-900"></label>
        <div class="mt-2">
            <input asp-for="MinEdgesFactor" type="number" name="@(Model.PropertyNamePrefix + ".")MinEdgesFactor" step="1" class="block w-full max-w-xs rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
        </div>
        <span asp-validation-for="MinEdgesFactor" class="text-danger"></span>
    </div>
</div>