@model GraphActionsHistoryModel
<h1 class="font-semibold text-2xl mb-8">Actions History</h1>

<div class="grid grid-cols-4 gap-4">
    @foreach(var action in Model.Actions)
    {
        @Html.Partial("_ActionCard", new ActionCardModel(action))
    }
</div>

<!-- Pagination -->
@Html.Partial("_Pagination", Model.PaginationInfo)