@{
    ViewData["Title"] = "Home Page";
}

<h1 class="text-2xl font-bold mb-8">
    Welcome - Graph Algorithms Web App
</h1>

<p>
    This web application is developed as part of a <b>"Wiener Index"</b> Master's thesis by Luka Bulatović,
    at Faculty of Natural Sciences and Mathematics, University of Montenegro.
</p>

<p class="mb-4">
    The tool provides an intuitive interface for generating, analyzing and visualizing graphs,
    while supporting various graph-related computations.
</p>

<h3 class="text-xl font-semibold mb-2">Key features</h3>

<ul class="list-disc ml-8 mb-4">
    <li><b>Recent Actions</b>: Review recent actions on creating graphs</li>
    <li><b>Graph Library</b>: Browse previously generated or imported graphs</li>
    <li><b>Custom Graph Sets</b>: Review previously created custom sets of graphs</li>
    <li><b>Draw Graph</b>: Draw graphs manually</li>
    <li><b>Generate Random Graph</b>: Generate graphs from a predefined set of classes</li>
    <li><b>Import Graph</b>: Upload graphs from external sources in GraphML format</li>
</ul>

<h3 class="text-xl font-semibold mb-2">Purpose</h3>
<p>
    The main goal of this application is to assist researchers and students in exploring graph properties,
    visualizing and identifying extremal structures related to Wiener index (and possibly other properties in future).
</p>
<p>
    The code is available at <a target="_blank" href="https://github.com/Luka-Bulatovic/graph-algorithms">GitHub</a>.
</p>
<p>
    To get started, select an option from the sidebar to create or analyze graphs.
</p>