@model PaginationModel

<div class="pagination-container">
    @if (Model.PageNumber > 1)
    {
        <a href="@(Url.Action(Model.ActionName, Model.GetQueryStringForPage(Model.PageNumber - 1)))" class="btn-pagination">
            Previous
        </a>
    }

    @for (int i = 1; i <= Model.TotalPages; i++)
    {
        <a href="@(Url.Action(Model.ActionName, Model.GetQueryStringForPage(i)))" class="@(i == Model.PageNumber ? "btn-pagination-selected" : "btn-pagination")">
            @i
        </a>
    }

    @if (Model.PageNumber < Model.TotalPages)
    {
        <a href="@(Url.Action(Model.ActionName, Model.GetQueryStringForPage(Model.PageNumber + 1)))" class="btn-pagination">
            Next
        </a>
    }
</div>